{
	auto_https disable_redirects
}

avalon-thai.com {
	encode gzip

	@api path /api/*
	handle @api {
		reverse_proxy backend:8080
	}

	@ws path /ws
	handle @ws {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:3000
	}
}

http://localhost, http://127.0.0.1 {
	encode gzip

	@api path /api/*
	handle @api {
		reverse_proxy backend:8080
	}

	@ws path /ws
	handle @ws {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:3000
	}
}
